body{
    padding:0;
    margin:0;
    font-family:Helvetica;
    
}

/*============= HEADER =============*/
#header{
    position:fixed;
    top:0px;
    left:0px;
    z-index:20;
    width:90%;
    height:80px;
    background-color: white;
    background-repeat:no-repeat; 
}

#header img{
    display: block;
    margin: auto;
    height:100%;
    padding-top:0px;
}

/*============= TOP-TABS =============*/

#tabs-top{
    position:fixed;
    top:80px;
    left:0px;
    z-index:500;
    width:100%;
    height:25px;
    background-color: darkslateblue;
}
#tabs-top a{
    float: left;
    display: block;
    width: 25%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}


/*========= MAIN-HOME ==========*/
#main-home{
    margin-top: 120px; 
}

/*========= BOTTOM-TABS ==========*/
#tabs-bottom{
    position:fixed;
    bottom:0;
    left:0;
    z-index: 500;
    width:100%;
    height:25px;
    background-color: darkslateblue;
}

#tabs-bottom a{
    float: left;
    display:block;
    width: 50%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align:center;
    text-decoration: none;
    padding-top: 12px;    
}

/*========= MAIN ==========*/

#main{
    margin-top: 119px;
    background-color: black;
    background-size: cover;
}
#content{
    padding-top: 1px;
    padding-bottom: 50px;
}

#content h2{
    color: white;
}

/*========= INFO-BOX ==========*/

a.info-box{
    text-decoration: none;
    background: rgba(255,255,255, .8);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
}

.info-box img{
    height:70px;
    margin: 10px;
    float: left;
    border: 2px solid darksalmon;
    border-radius: 7px;
}
.info-box h3{
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: white;
}
.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px;
}


/*=========== INFO-BOX-FULL ==============*/
#info-box-full{
    background: rgba(255,255,255, .8);
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
}
#info-box-full img{
    width: 100%;
}
#info-box-full h2{
    text-align: center;
}

/*=============== FORM ===============*/
input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 1px solid black;
    
}

textarea{
    width: 100%;
    height: 65px;
    margin: 12px 0;
    border: 1px solid black;
}

.button{
    display: block;
    width: 100%;
    background-color: darkslateblue;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
}


















